<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= form_with scope: @user, url: target_url do |f| %>
  <div>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.submit 'Sign In' %>
  </div>
<% end %>
