<div class="flex-column login-container full-height" >
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <%= form_with scope: @user, class: 'login-form', url: target_url, local: true do |f| %>
    <%= f.email_field :email, placeholder: 'Email', required: 'true' %>
    <%= f.password_field :password, placeholder: 'Password', required: 'true' %>
    <%= f.submit submit_label %>
  <% end %>

  <div class="login-form-divider"></div>

  <div class="login-form-links">
    <%= link_to 'Log in with Amazon', '/auth/amazon', class: 'amazon-login-link' %>
    <%= link_to link_label, link_path, class: 'big-budget-login-link' %>
  </div>
</div>