<h1>{{tag.name}} | ${{tag.totalSpent}}</h1>

Prefab stores:<br>
{{#if tag.prefabStores}}
    {{#each tag.prefabStores}}
        {{name}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}

<br>

Prefab items:<br>
<div id="prefab-items-section">
    {{#if tag.prefabItems}}
        {{#each tag.prefabItems}}
            <div data-prefab-item-id={{id}}>{{name}}</div>
        {{/each}}
    {{else}}
        None yet ~<br>
    {{/if}}
</div>

<br>

Carts:<br>
{{#if tag.carts}}
    {{#each tag.carts}}
        {{note}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}