<h1><a href="#">{{tag.name}}</a></h1>

Prefab stores:<br>
{{#if tag.prefab_stores}}
    {{#each tag.prefab_stores}}
        {{name}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}

<br>

Prefab items:<br>
{{#if tag.prefab_items}}
    {{#each tag.prefab_items}}
        {{name}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}

<br>

Carts:<br>
{{#if tag.carts}}
    {{#each tag.carts}}
        {{note}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}