<h1>{{tag.name}} | ${{tag.total_spent}}</h1>

Prefab stores:<br>
{{#if tag.prefab_stores}}
    {{#each tag.prefab_stores}}
        {{name}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}

<br>

Prefab items:<br>
<div id="prefab-items-section">
    {{#if tag.prefab_items}}
        {{#each tag.prefab_items}}
            <div data-prefab-item-id={{id}}>{{name}}</div>
        {{/each}}
    {{else}}
        None yet ~<br>
    {{/if}}
</div>

<br>

Carts:<br>
{{#if tag.carts}}
    {{#each tag.carts}}
        {{note}}<br>
    {{/each}}
{{else}}
    None yet ~<br>
{{/if}}