<span id="logo">BIG BUDGET</span>
<% if logged_in? %>
  <%= link_to 'Home', home_user_path(@user) %>
  <%= link_to 'Carts', user_carts_path(@user)  %>
  <%= link_to 'Stores', user_prefab_stores_path(@user) %>
  <%= link_to 'Items', user_prefab_items_path(@user) %>
  <%= link_to 'Tags', user_tags_path(@user) %>
  <%= link_to 'Sign Out', signout_path %>
<% end %>