<% edit_path_helper = "edit_user_" + resource_name + "_path" %>
<% delete_path_helper = "user_" + resource_name + "_path" %>
<% show_path_helper = "user_" + resource_name + "_path" %>

<div>
  <strong><%= nested_resource.name %></strong>
  <%= link_to 'Show', send(show_path_helper, @user, nested_resource) %>&nbsp
  <%= link_to 'Edit', send(edit_path_helper, @user, nested_resource) %>&nbsp
  <%= link_to 'Delete', send(delete_path_helper, @user, nested_resource), method: 'delete' %>
  <br>
  
  <%= render partial: "shared/nested_resource_attribute", collection: nested_resource.tags %>
</div>
<br>
