<h1>New Cart!</h1>

<%= form_with scope: @cart, url: user_carts_path, method: 'post' do |f| %>
  <%= wly_form_div self, 'wly_labeled_text_field', f, :name %>

  <div>
    Cart Store:
    <%= f.fields_for :cart_store do |cart_store_form| %>
      <%= wly_form_div self, 'wly_labeled_text_field', cart_store_form, :note %>
    <% end %>
  </div>

  <%= wly_form_div f, 'submit' %>

<% end %>
