<h1><%= @cart.note %> | $<%= @cart.total %></h1>
<p><%= @cart.date %>

<div>
    <strong>Store</strong><br>
    Note: <%= @store.note %><br>
    <% if @store.prefab_store %>
        Prefab: <%= link_to @store.prefab_store.name, user_prefab_store_path(@user, @store.prefab_store) %><br>
    <% end %>
    Tags: <% @store.tags.each do |tag| %>
        <%= tag.name %>&nbsp
    <% end %><br>
</div>
<br>

<div>
    <strong>Items</strong><br>
    <% @items.each do |item| %>
        <strong>$<%= item.dollars %></strong><br>
        Note: <%= item.note %><br>
        <% if item.prefab_item %>
            Prefab: <%= link_to item.prefab_item.name, user_prefab_item_path(item.prefab_item) %><br>
        <% end %>
        Tags: <% item.tags.each do |tag| %>
            <%= tag.name %>&nbsp
        <% end %><br><br>
    <% end %>
</div>

<%= link_to 'Add Item', new_cart_cart_item_path(@cart) %> |
<%= link_to 'Edit Cart', edit_user_cart_path(@user, @cart) %> | 
<%= link_to 'Delete Cart', user_cart_path(@user, @cart), method: 'delete' %>