<h1>
  <%= @user.email %>'s Tags!
</h1>

<% @tags.each do |tag| %>
<div>
  <strong><%= tag.name %></strong>
  <%= link_to 'Show', user_tag_path(@user, tag) %>&nbsp
  <%= link_to 'Edit', edit_user_tag_path(@user, tag) %>&nbsp
  <%= link_to 'Delete', user_tag_path(@user, tag), method: 'delete' %>
  <br>

  <% if prefab_stores = tag.prefab_stores.select {|ps| ps.user == @user } %>
    <em>Stores:</em>
    <%= render partial: "shared/nested_resource_attribute", collection: prefab_stores %>
    <br>
  <% end %>

  <% if prefab_items = tag.prefab_items.select {|ps| ps.user == @user } %>
    <em>Items:</em>
    <%= render partial: "shared/nested_resource_attribute", collection: prefab_items %>
    <br>
  <% end %>
</div>
<br>
<% end %>

<h3>Ten Most Popular Tags Overall:</h3>
<% Tag.ten_most_popular.each do |tag| %>
  <p>
    <%= tag.name %> | <%= tag.users.count %>
  </p>
<% end %>