<div>
  <br>
  <% if @cart_item.errors.any? %>
    There were validation errors. Please review and correct them :)
    <ul>
    <% @cart_item.errors.full_messages.each do |full_message| %> 
      <li><%= full_message %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= form_with scope: @cart_item, local: true, url: cart_cart_items_path, method: 'post' do |f| %>
  <div>
    <h3>New Item:</h3>
    <%= wly_labeled_field f, 'number_field', :dollars, min: 1 %>
    <p>No cents. Round up for best results.</p>
    <br>
    <div>
      <%= f.collection_select :prefab_item_id, @prefab_items, :id, :name_and_tag_names, include_blank: 'Select a prefab item (optional)' %>
    </div>      
    <br>
    <%= wly_form_div self, 'wly_labeled_text_field', f, :note %>
    <%= wly_check_boxes_for @tags, :tag_ids, "Optional additional tags for this item", f %>
  </div>
  <%= wly_form_div f, 'submit', "Add Another Item" %>
  <br>
  <%= wly_form_div f, 'submit', "Done" %>
<% end %>

<br>
<br>

<h2><%= @cart.note %> | $<%= @cart.total %></h2>

<% @cart.cart_items.each do |cart_item| %>
  <%= cart_item.note %> | $<%= cart_item.dollars %>
  <br>
<% end %>