<!DOCTYPE html>
<html>
  <head>
    <title>WlyBigBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= render "shared/navbar" %>
    </nav>
    <main>
        <%= yield %>
    </main>
  </body>
</html>
